@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  }

  html,
  body {
    @apply max-w-full overflow-x-hidden;
  }

  body {
    @apply font-sans antialiased;
  }
}

